upstream c4m_upstream {
	server 127.0.0.1:8888;
}


server {
	listen	80;
	listen	[::]:80;
	listen	443 ssl;
	listen	[::]:443 ssl ipv6only=on;

	ssl_protocols 		TLSv1 TLSv1.1 TLSv1.2;
	ssl_certificate		/etc/ssl/certs/nginx-selfsigned.crt;
	ssl_certificate_key	/etc/ssl/private/nginx-selfsigned.key;

	server_name				localhost;
	client_max_body_size	12M;
	index index.php index.html index.htm;
	root /var/www/html;

	location ~ ^/c4m($|/) {
		proxy_redirect off;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;
		proxy_set_header Connection "";
		proxy_http_version 1.1;
		proxy_pass http://c4m_upstream;
	}


	location ~ /\.ht {
		deny all;
	}
}